:root {
    --dark_color1: $THEME_BACKGROUND;
    --dark_color2: rgba(0, 0, 0, .05);
    --dark_color3: $THEME_BACKGROUND_DARK;
    --dark_color4: rgba(255, 255, 255, .05);

    --light_color1: $THEME_FOREGROUND;
    --light_color2: $THEME_FOREGROUND_ALT;
    --light_color3: $THEME_FOREGROUND_DARK;
    --light_color4: $THEME_FOREGROUND_LIGHT;

    --word_color1: $THEME_FOREGROUND;
    --word_color2: $THEME_FOREGROUND_LIGHT;
    --word_color3: $THEME_FOREGROUND_LIGHTER;
}


.urlbarView {
    background-color: $THEME_BACKGROUND_DARK !important;
    border-bottom-radius: 7px !important;
    padding: 10px !important;
}
