@-moz-document regexp("^https?://((education|gist|graphql|guides|docs|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!generated_pages/preview).)*$"), regexp("^https?://www\.zuora\.com.*github\.com.*"), domain("githubusercontent.com"), domain("www.githubstatus.com"), domain("stylishthemes.github.io") {
  :root {
    --ghd-bg-custom: $THEME_BACKGROUND;
    --ghd-bg-img: $THEME_BACKGROUND;
    --ghd-bg-color: $THEME_BACKGROUND;
    --ghd-code-background: $THEME_BACKGROUND_ALT;
    --ghd-code-color: $THEME_FOREGROUND_DARK;
  }
}

@-moz-document regexp("^https?://((education|gist|graphql|guides|docs|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!generated_pages/preview).)*$"), domain("githubusercontent.com"), domain("www.githubstatus.com") {

  /* Search Field */
  .Header .header-search-wrapper, .Header .header-search-wrapper input {
    background: $THEME_BACKGROUND_LIGHT !important;
  }

  /* Header */
  .Header {
    background-color: $THEME_BACKGROUND;
  }
  @media (min-width: 1013px) {
    .Header, .Header-old {
      border-bottom: 1px solid $THEME_BACKGROUND !important;
    }
  }

  /* Repository Header */
  .page-responsive .repohead, .page-responsive .pagehead,
  .repohead.bg-gray-light, .pagehead.bg-gray-light, main > .bg-gray-light {
    background: $THEME_BACKGROUND_ALT !important;
  }

  /* First repository row border */
  .repository-content .Box.mb-3 .Details .sr-only + .Box-row {
    border-top-color: $THEME_BACKGROUND_LIGHT !important;
  }

  /* Box Header */
  .Box-header {
    background-color: $THEME_BACKGROUND_ALT;
  }

  /* Box Border */
  .Box, .Box-header {
    border-color: $THEME_BACKGROUND;
  }
  .Box-body {
    border-bottom-color: $THEME_BACKGROUND;
  }
  .Box-row {
    border-top-color: $THEME_BACKGROUND;
  }

  /* Content Header */
  .bg-black, .bg-white {
    background-color: $THEME_BACKGROUND_ALT !important;
  }

  /* Content */
  .Box, kbd {
    background-color: $THEME_BACKGROUND_ALT;
  }
  @media (min-width:544px) {
    .Box--responsive {
      border-color: $THEME_BACKGROUND;
    }
  }

  /* Buttons */
  .btn {
    color: $THEME_FOREGROUND;
    background-color: $THEME_BACKGROUND_LIGHT;
    border-color: $THEME_BACKGROUND_LIGHT;
  }

  /* Social Counts */
  .social-count {
    color: $THEME_FOREGROUND;
    background-color: $THEME_BACKGROUND_LIGHTER;
    border-color: $THEME_BACKGROUND_LIGHTER;
  }

  /* Issue comments */
  .timeline-comment-header, .dropdown-menu {
    background-color: $THEME_BACKGROUND_ALT;
  }
  .timeline-comment--caret::before {
    border-right-color: $THEME_BACKGROUND_ALT;
  }
  .timeline-comment--caret::after {
    border-right-color: $THEME_BACKGROUND_ALT;
  }
  .timeline-comment, .timeline-comment-header {
    border-color: $THEME_BACKGROUND;
  }
  .timeline-comment {
    color: $THEME_FOREGROUND;
    background-color: $THEME_BACKGROUND_ALT;
    border-color: $THEME_BACKGROUND;
  }

  /* Code Blocks */
  .markdown-format pre, .markdown-body pre, .highlight pre, .markdown-body pre,
  #facebox pre, .blob-expanded, .terminal, .copyable-terminal,
  #notebook .input_area, .blob-code-context, .markdown-format code, .api pre,
  .api li:not(a) code, .hook-delivery-details pre, .hook-delivery-container pre,
  .code-list .file-box, .CodeMirror, .highlight.bg-gray {
    background-color: $THEME_BACKGROUND_LIGHT !important;
    color: $THEME_FOREGROUND_LIGHT !important;
  }

  /* Inline Code Blocks */
  .markdown-body code, p code {
    background-color: $THEME_BACKGROUND_LIGHT;
    color: $THEME_FOREGROUND_LIGHT !important;
  }
  .markdown-format p > code, .markdown-body code, .markdown-body tt,
  .markdown-format pre, .markdown-body pre, .markdown-format .highlight pre,
  .markdown-body .highlight pre, #user-content-toc td, .copyable-terminal,
  .project-card .highlight pre, .project-card code, .rgh-parse-backticks {
    border: 1px solid $THEME_BACKGROUND_LIGHT !important;
  }

  /* Heading Borders */
  .markdown-body h1, .markdown-body h2 {
    border-bottom-color: $THEME_BACKGROUND_LIGHT;
  }

  /* Timeline Break */
  .TimelineItem-break {
    background: transparent !important;
    border-top-color: $THEME_BACKGROUND_LIGHT;
  }
  .TimelineItem::before {
    background-color: $THEME_BACKGROUND_LIGHT;
  }
  .discussion-timeline-actions {
    border-top: 2px solid $THEME_BACKGROUND_LIGHT !important;
  }

  /* On-scroll header */
  .gh-header, .gh-header .gh-header-sticky.is-stuck + .gh-header-shadow {
    background-color: $THEME_BACKGROUND_ALT;
  }

  /* Active tab */
  .tabnav-tab.selected, 
  .tabnav-tab[aria-current]:not([aria-current="false"]), 
  .tabnav-tab[aria-selected="true"] {
    background-color: $THEME_BACKGROUND_ALT;
    border-color: $THEME_BACKGROUND_ALT;
  }

  /* Issue reply field */
  .input-contrast, .input-contrast:focus {
    background-color: $THEME_BACKGROUND;
  }
  .upload-enabled textarea {
    border-color: $THEME_BACKGROUND;
  }

  /* Drag and drop field */
  .drag-and-drop {
    color: $THEME_FOREGROUND;
    background-color: $THEME_BACKGROUND;
  }
  .BorderGrid-cell, .drag-and-drop {
    border-color: $THEME_BACKGROUND;
  }

  /* Input field */
  .form-control, .form-select {
    color: $THEME_FOREGROUND;
    background-color: $THEME_BACKGROUND;
    border-color: $THEME_BACKGROUND;
  }

  /* Issue reply arrow indicator */
  .page-responsive .timeline-comment--caret::after,
  .page-responsive .timeline-comment--caret::before {
    display: none !important;
  }

  /* Various box backgrounds */
  .bg-gray-light {
    background-color: $THEME_BACKGROUND !important;
  }

  /* Various box borders */
  .border-md {
    border-color: $THEME_BACKGROUND !important;
  }
  .border-gray-dark {
    border-color: transparent !important;
  }

  /* Sidebar etc */
  .Box-row--hover-blue, .dashboard-sidebar, .tint-box, .capped-card-content,
  .table-list-item, .pinned-issue-item, .review-comment, .line-comments,
  .js-notice > .border:not(.bg-blue-light), .js-notice.border, #projects-results,
  .pr-toolbar.is-stuck, .pinned-issue-item, .pinned-item-list-item,
  article.border.rounded-1, #search-member, .sidebar-progress-bar > .d-flex,
  .pagination-loader-container .discussion-item-header .border,
  #wiki-footer .border-dashed, #wiki-rightbar .border-dashed,
  .profile-timeline-card, .avatar-before-user-status,
  .graph-before-activity-overview, .access-form-wrapper,
  .border-right.border-bottom.border-left, .news .issues_labeled .border,
  table.pricing-table, .two-factor-steps, .project-column,
  .gist-content .file-box, .branch-action-item.js-transitionable, .prose-diff,
  .listgroup {
    background: $THEME_BACKGROUND_ALT;
  }

}
