.theme-dark {
    /* Username identifier */
    --header-secondary: $THEME_FOREGROUND;

    /* Login background */
    --background-mobile-primary: $THEME_BACKGROUND;

    /* Chat background */
    /*--background-primary: $THEME_BACKGROUND_ALT;*/
    --background-primary: transparent;

    /* Sidebar background */
    /* --background-secondary: transparent; */
    --background-secondary: #0c0e12;

    /* Sidebar bottom background */
    --background-secondary-alt: transparent;

    /* Search input background */
    --background-tertiary: transparent;

    /* Textarea */
    --channeltextarea-background: $THEME_BACKGROUND;

    /* Selected conversation */
    --background-modifier-selected: rgba(255, 255, 255, .05);
}

body {
    background-color: rgba(18, 20, 26, .7) !important;
}

/* Avatar fallback */
.avatar-1BDn8e {
    background-color: transparent;
}

/* Friends list */
.theme-dark #app-mount div[class*="base-"] > div[class^="content-"] > div[class*="container-"] {
    background-color: transparent;
}

/* Video call wrapper */
.theme-dark #app-mount div[class*="base-"] div[class*="chat-"] > div[class*="wrapper-"] {
    background-color: transparent;
}

/* Video call individual people */
.theme-dark #app-mount div[class*="base-"] div[class*="chat-"] div[class*="grid-"] div[class*="tile-"][role="button"] [class*="content-"] > div {
    background-color: transparent !important;
}

/* Video call individual people speaking */
.theme-dark #app-mount div[class*="base-"] div[class*="chat-"] div[class*="grid-"] div[class*="tile-"]:not(:first-of-type) div[class*="tile-"][role="button"] [class*="border-"][class*="speaking-"] {
    box-shadow: inset 0 0 0 5px #43b581;
}

/* Disable mirrored webcam for myself */
.media-engine-video[class^="mirror-"],
.media-engine-video.mirror-1Z13AJ {
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}

/* Large Emojis */
/*.emoji.jumboable {
    width: 1.375em !important;
    height: inherit !important;
    min-height: inherit !important;
}*/
