/* ==UserStyle==
@name         Dark-WhatsApp
@description  Dark and light, very customizable theme for WhatsApp.
@namespace    github.com/vednoc/dark-whatsapp
@homepageURL  https://github.com/vednoc/dark-whatsapp
@supportURL   https://github.com/vednoc/dark-whatsapp/issues
@updateURL    https://raw.githubusercontent.com/vednoc/dark-whatsapp/master/wa.user.styl
@author       vednoc <vednoc@pm.me> (https://github.com/vednoc)
@version      3.0.0-rc.6
@license      MIT
@preprocessor stylus
==/UserStyle== */

theme       = 'custom'
next_bg     = $THEME_BACKGROUND_ALT
next_fg     = $THEME_FOREGROUND
next_ac     = $THEME_PRIMARY

next_bg_a   = 0, -25, 25, 0.1, '%'
next_fg_a   = 0, -25, 25, 0.1, '%'
next_ac_a   = 0,   0, 25,   1, '%'

ui_font     = 'Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif'
app_width   = 1396px

fullscreen  = 0
app_c_m     = 1
app_c_m_w   = 720px
app_c_m_h   = 0.6s
app_c_m_d   = 1.2s

alerts      = show
app_c_h     = 1

radius-g    = 0px
radius-i    = 10px
radius-a    = 50, 0, 50, 1, '%'

app_image   = none
image_url   = none
bg_opacity  = 0.4, 0.0, 1, 0.01
bg_blur     = 0, 0, 50, 1, 'px'
bg_hue      = 320, 0, 360, 1, 'deg'
bg_invert   = 0, 0.0, 1, 0.01
bg_size     = cover
bg_pos      = center
bg_rep      = no-repeat

tail_style  = minimal
fb_compact  = 1
emoji_o     = 0.8, 0.0, 1, 0.01
emoji_b     = default

ow_imsg     = 1
next_imsg   = $THEME_BACKGROUND_LIGHT
bubble_in   = 0
ow_omsg     = 1
next_omsg   = $THEME_BACKGROUND_LIGHT
bubble_out  = 0

rtl_header  = 1
rtl_format  = 1

chat_b_c    = 0
chat_b_img  = 0
chat_b_in   = 0.4s
chat_b_out  = 0.2s

chat_bg     = 0
chat_image  = none
chat_bg_o   = 0.15, 0.0, 1, 0.01
chat_bg_iv  = 0.6, 0.0, 1, 0.01
chat_bg_s   = initial
chat_bg_p   = top left
chat_bg_r   = repeat

_dark       = #ff0000
_darken     = #00ff00
darker      = #0000ff
light       = #ff00ff
lighter     = #ffff00
accent      = #00ffff
yellow      = #e5c512
orange      = #df4b16
red         = #dc322f
magenta     = #f33682
violet      = #6c71c4
blue        = #268bd2
cyan        = #2aa198
green       = #859900
white       = #ffffff
sh          = #00000025
sh-h        = #00000035
