:root {
    --black: $THEME_BACKGROUND;
    --background-primary: var(--black);
    --background-secondary: $THEME_BACKGROUND_DARK;
}

/* Content */
main[role="main"] > div > div > div > div {
    background-color: var(--background-secondary) !important;
}

/* Sidebar */
body {
    background-color: var(--background-primary) !important;
}

/* Header */
main[role="main"] > div > div > div > div > div > div > div > div > div > div,
main[role="main"] > div > div > div > div > div > div > div > div > div > div > div:first-of-type,
.r-yfoy6g,
.r-kemksi {
    background-color: var(--background-primary) !important;
}

/* Hide post comments when viewing a photo */
.css-1dbjc4n.r-yfoy6g.r-18bvks7.r-1ljd8xs.r-1phboty.r-1dqxon3.r-1hycxz {
    display: none;
}
