.theme-dark {
    /* Username identifier */
    --header-secondary: $THEME_FOREGROUND;

    /* Login background */
    --background-mobile-primary: $THEME_BACKGROUND;

    /* Chat background */
    --background-primary: $THEME_BACKGROUND_DARK;

    /* Sidebar background */
    --background-secondary: $THEME_BACKGROUND;

    /* Sidebar bottom background */
    --background-secondary-alt: $THEME_BACKGROUND;

    /* Search input background */
    --background-tertiary: $THEME_BACKGROUND_LIGHT;

    /* Textarea */
    --channeltextarea-background: $THEME_BACKGROUND;

    /* Selected conversation */
    --background-modifier-selected: $THEME_BACKGROUND_LIGHT;
}

/* Friends list */
.theme-dark #app-mount div[class*="base-"] > div[class^="content-"] > div[class*="container-"] {
    background-color: $THEME_BACKGROUND_DARK;
}

/* Video call wrapper */
.theme-dark #app-mount div[class*="base-"] div[class*="chat-"] > div[class*="wrapper-"] {
    background-color: $THEME_BACKGROUND_DARK;
}

/* Video call individual people */
.theme-dark #app-mount div[class*="base-"] div[class*="chat-"] div[class*="grid-"] div[class*="tile-"][role="button"] [class*="content-"] > div {
    background-color: $THEME_BACKGROUND !important;
}

/* Video call individual people speaking */
.theme-dark #app-mount div[class*="base-"] div[class*="chat-"] div[class*="grid-"] div[class*="tile-"]:not(:first-of-type) div[class*="tile-"][role="button"] [class*="border-"][class*="speaking-"] {
    box-shadow: inset 0 0 0 5px #43b581;
}

/* Large Emojis */
/*.emoji.jumboable {
    width: 1.375em !important;
    height: inherit !important;
    min-height: inherit !important;
}*/
